roms
build
signals
run_sims.sh
results
hls
.vscode
test
test2
hls_runs*
*.log
report.txt
csynth_report.txt
export_report.txt
*csynth_report_*.txt
*export_report_*.txt
.Xiltemp
.Xil
vivado.log
vivado.jou
NA
FFT_ASDR
vivado_pid*.str
hw_impl_src

data/latex/*
!data/latex/courbes.tex
